.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
  }
  
  .navbar-logo img {
    max-height: 50px;
    margin-left: 20px;
  }
  
  .navbar-links {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li {
    margin-right: 30px;
  }
  
  .navbar-links li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding-bottom: 5px;
    position: relative;
    transition: all 0.1s ease;
  }
  
  .navbar-links li a:hover {
    color: green;
    border-bottom: 3px solid green;
    /* transition: all 1s ease-out; */
  }
  
  .signup-button {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
  }
  
  /* Navbar adjustments */
  
  /* Hamburger icon */
  .hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
    margin-right: 20px;
  }
  
  /* Show hamburger icon on smaller screens */
  @media (max-width: 768px) {
    .navbar {
      flex-direction: row;
      align-items: center;
      padding: 10px 20px;
    }
  
    /* Adjust logo and hamburger position */
    .navbar-logo {
      flex: 1;
    }
  
    .hamburger {
      display: block;
      position: absolute;
      margin-top: 20px;
      right: 20px;
    }
  
    /* Hide navbar links initially */
    .navbar-links {
      display: none;
      flex-direction: column;
      width: 100%;
      background-color: #fff;
      position: absolute;
      top: 60px; /* Adjust based on navbar height */
      left: 0;
      padding: 20px 0;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  
    .navbar-links li {
      margin: 10px 0;
      text-align: center;
    }
  
    .navbar-links.active {
      display: flex;
    }
  }
  
  /* Hamburger icon */
  .hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
    margin-right: 20px;
  }
  
  /* Responsive Navbar */
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .navbar-logo {
      margin: 10px;
    }
  
    .navbar-links {
      display: none; /* Hide navbar links initially */
      flex-direction: column;
      width: 100%;
      background-color: #fff;
    }
  
    .navbar-links li {
      margin: 10px 0;
      text-align: left;
      padding: 10px 20px;
    }
  
    .navbar-links li a {
      font-size: 18px;
    }
  
    .hamburger {
      display: block;
    }
  
    /* Show the navbar links when active */
    .navbar-links.active {
      display: flex;
    }
  }